body {
    max-width: 950px;
    margin: auto;
    font-family: "Verdana";
    color: #262421;
}

a{
    color:  #262421;
    text-decoration: none;
}

p {
    font-size: 0.85em;
}

p.alt{
    padding-top: 3px;
    font-size: 0.8em;
    color: #999;
    text-align: right;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.1em;
    font-weight: 400;
    color: #999;
}

h3{
    font-size: 1em;
    font-variant: small-caps;
}

h5{
    font-size: 1em;
    font-variant: small-caps;
}

hr.bottom_line {
    color: #edb264;
    border: solid 0.65px !important;
    height: 0px !important;
    width: 30%;
}

hr.div_line {
    color: #edb264;
    border: solid 0.65px !important;
    height: 0px !important;
    width: 10%;
}


.name{
    font-size: 1.4em;
    font-variant: small-caps;
    font-family: "Verdana";
}

.icon_row{
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.linkto{
    color: gray;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #edb264; 
}

.contacts{
    width: 100%;
    height: width;
    margin-right: 10px;
    text-decoration: none;
}

.top-section{
    padding-top: 5em;
    padding-bottom: 2em;
}

.section{
    padding-top: 1em;
    padding-bottom: 2em;
}

.project{
    padding-top: 1.2em;
}

.cv-header{
    margin-bottom: 40px;
}

.cond-right{
    text-align: right;
}

.cv-section{
    margin-top: 32px;
}


.nav{
    font-size: 1em;
    width: 100%;
    max-width: 950px;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    background-color: rgba(255,255,255,1)!important;
    border-bottom: dotted 1.3px #edb264 !important;
    z-index:999;
}

.nav-link{
    background-color: rgba(255,255,255,1)!important;
    color: gray;
}


a:hover, a.active{
    color:  #edb264;
    text-decoration: none;
}

.news-date{
    text-align: right;
    color: #666;
}

.news-row{
    padding-top: 1em;
}

.project-row{
    padding-top: 2em;
    padding-bottom: 2em;
}

.news-title{
    font-size: 1em;
    color: gray;
    padding-left: 1em;
}

.publication{
    color: #6495ED;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #6495ED;
}

.other_proj_title{
    padding-top: 1em;
    text-align: center;
}

.proj_img{
    margin: auto;
    padding-top: 1em;
    width: 100%;
}

.footer {
    left: 0;
    padding-top: 1em;
    padding-bottom: 5em;
    width: 100%;
    color: gray;
    text-align: center;
    font-size: 0.7em;
}

.profile_img{
    width: 60%;
    margin-top: 0em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

}

.project_hashtag{
    font-size: 0.9em;
    color: #edb264;
    margin-top: 1em;
    margin-bottom: 1em;
}


@media (max-width: 575px) {

    img{
        padding-bottom: 10px;
    }

    h2{
        text-align: left;
    }

    p.alt{
        text-align: left;
        margin-bottom: 0px;
    }

    .cond-right{
        text-align: left;
    }


    .news-date{
        text-align: left;
    }

    .cond-right{
        text-align: left;
    }

}